# Agentcore configurations
.bedrock_agentcore.yaml
.bedrock_agentcore/
/agents/.dockerignore

# Environment variables
.env

# Python cache files
__pycache__/

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
build

# CDK asset staging directory
.cdk.staging
cdk.out

# Langgraph compiled graphs
.langgraph_api/